*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #4962a3;
  width: 100%;
}
.flex{
  display: flex;
}
h1{
  color:rgb(49, 150, 218);
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
  span{
    color: red!important;
  }
}
nav{
  display: flex;
  justify-content: space-around!important;
}

.caja{

  margin: auto;
  justify-content: center;
  
}
select{
  width: 70%;
  border-radius: 10px;
  height: 40px;
  margin: 10px auto;
  background: #e1ecfc;
  justify-content: center;
}
.carData{
  width: 80%;
  margin: 50px auto;
  
  font-size: 15px;
  
  
  .flex{
    padding-top: 30px;
    justify-content: center;
    p{
      font-size: 25px;
      color: black;
      padding: 0 5px;
    }
  }
}
.servicio{
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}
.garages-prices{
  margin-top: 50px;
  
  .garages{
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
}
.garageData{
  width: 80%;
  margin: 50px auto;
  height: 130px;
  background: #e1ecfc;
  margin-bottom: 50px;
  border-radius: 20px;
  p{
    text-align: center;
    padding-top: 15px;
  }
}
.footer{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  background: #e1ecfc;
  p{
    padding: 10px 0;
  }
  h2{
    color:rgb(49, 150, 218);
  span{
    color: red!important;
  }
  }
}
.buttonHeader button{
    border-bottom: 0;
    background-color: none!important;
    border: none;
    cursor: pointer;
}
.car{
  border-bottom: 3px solid black;
  background: rgb(49, 150, 218);
}
.header{
  background-image: url("../../images/taller3.jpg");
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-position: center center;
}
.headerLogged{
  background-image: url("../../images/taller1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  background-position: center center;
}
.headerRegister{
  background-image: url("../../images/taller2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  background-position: center center;
}
.buttonName{
  text-decoration: underline;
  cursor: pointer;
}