*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #4962a3;
}
form{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  p{
    margin: auto;
    width: 70%;
    color: white;
    text-align: start;
  }
  
}
h3{
  color: white;
  margin: 30px ;
  width: 100%;
  text-align: start;
}
label{
  display: flex;
  width: 100%;
  margin: 10px auto;
}
input{
  height: 40px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  border: 0 none;
  background: #e1ecfc;
}
button{
  padding: 10px 40px;
  border-radius: 10px;
  margin: 30px auto;
  border: 0 none;
  background: #e1ecfc;

}
footer{
  width: 100%;
}